body {
  font-family: "Montserrat";
  text-align: center;
}
#title {
  background-color: #ff4c68d4;
  color: whitesmoke;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: "Montserrat";
}

h1,
h2 {
  line-height: 1.5;
}
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

/* navbar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 200;
}

/* download btns */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 16%;
}

/* features */
#features {
  background-color: whitesmoke;
  padding: 0% 10%;
  position: relative;
  z-index: 1;
}

.rowfeatures {
  margin: auto 0px;
}

.featureItem {
  padding: 10% 0;
}
.ifeatures {
  color: #ef8172;
  margin-bottom: 1rem;
}

.ifeatures:hover {
  color: #ff4c68d4;
}

.innerText {
  color: #8f8f8f;
}

/* Testimonials */

#testimonials {
  background-color: #ff4c68d4;
  color: whitesmoke;
  padding: 0% 10%;
}

.testimonial-image {
  width: 15%;
  height: 15%;
  border-radius: 100%;
  margin: 2rem;
}

.carousel-item {
  padding: 7% 15%;
}

/* press */
#press {
  background-color: #ff4c68d4;
  padding: 2% 10%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 6% 10%;
}

.card {
  margin: 4%;
}
/* cta */
#cta {
  background-color: #ff4c68d4;
  color: whitesmoke;
  padding: 6% 24%;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

/* footer */
#footer {
  background-color: whitesmoke;
  padding: 8% 10%;
}

.footer-para {
  border-bottom: 5px solid #ff4c68d4;
}

.footer-icons i {
  margin: 0px 10px 2rem;
}

/* media queries */

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;

    transform: rotate(0);
  }
}
